.productContent {
    position: relative;
}

.lightGreen {
    height: 30.3125rem;
    width: 43.25rem;
    background: #ecfdf5;
    position: absolute;
    top: 5.75rem;
    margin-left: 6.5rem;
    padding-left: 4.5625rem;
}

.h2 {
    background: #047857;
    width: 10.62rem;
    height: 2.12rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #ecfdf5;
    margin-top: 4.8125rem;
}

.h3 {
    margin-top: 0.625rem;
    font-size: 2.5rem;
    color: #047857;
    font-weight: 700;
    line-height: 140%;
}

.para {
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.1rem;
    color: #047857;
    width: 31.5rem;
    line-height: 1.68rem;
}

.ingredients {
    margin-top: 1.25rem;
    color: #047857;
    font-size: 1.1rem;
    width: 29.8rem;
    font-weight: 600px;
    line-height: 1.68rem;
    height: 3.3rem;
}

.bold {
    font-weight: bold;
}

.btn {
    margin-top: 1.5rem;
    color: #047857;
    font-size: 1.1rem;
    line-height: 140%;
    font-weight: 500;
}

.underline {
    margin-top: 0.3rem;
    height: 0.1rem;
    width: 7.5rem;
    background-color: #047857;
}

.greenDiv {
    display: flex;
    justify-content: space-between;
}

.div {
    height: 5rem;
    width: 20rem;
    margin-top: 10.1rem;
    margin-left: 11.1rem;
    height: 28.1rem;
    width: 100vw;
    background: linear-gradient(46deg, #059669 0%, #10b981 100%);
}

.girl {
    width: 69%;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}
